/* applied to all */

nav {
    background-color: ivory;
}

.CourgetteText {
    font-family: 'Courgette', sans-serif;
}

.RalewayText {
    font-family: 'Raleway', sans-serif;
}

.container {
    padding: 40px 0;
    min-height: 200px;
}

i {
    font-size: 5em;
}

a {
    color: black;
}

#facebook {
    font-size: 1.5em;
    color: origin;
}

#facebook:hover {
    color: rgb(66,103,178);
}

/* index */

#indexJumbotron {
    background-image: url("/image/TexasStar.jpeg");
    background-size: cover;
    background-position: center;
}

.jumbotronShade {
    background-color: rgba(124, 123, 123, 0.5);
}

.jumbotronHead{
    color: whitesmoke;
    text-shadow: 4px 4px 5px rgb(58, 57, 57),
                 2px 2px 10px black;
}

.jumbotronContent {
    font-family: 'Raleway black 900', sans-serif;
    color: whitesmoke;
    text-shadow: 4px 4px 5px rgb(58, 57, 57),
                 2px 2px 10px black;
    font-size: 1.3em;
}

footer > div {
    border-top: 1px ridge;
    height: 50px;
    padding: 10px auto;
}

#photoCredit {
    text-align: right;
    margin-bottom: 0;
    font-size: 0.7em;
}

/* student groups */

.groups {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#academicGroup {
    border-top: 1px ridge;
}

.fa-basketball-ball {
    background: linear-gradient(135deg, rgb(207, 83, 0), rgb(255, 103, 32));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-volleyball-ball {
    background: linear-gradient(135deg, blue, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-python {
    background: linear-gradient(135deg, #4B8BBe, #306998, #FFE873, #FFD43B, #646464);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
